@import '../../styles/_variables.scss';

footer {
   background-color: $footer-color;
   height: 209px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 40px;

   img {
      width: 122px;
      height: 40px;
      margin-top: 70px;
   }

   p {
      color: $white-color;
   }
}
